.navbar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 80px;
    text-align: center;
    color: #2b0cf2bf; /* Adjusted blue color */
    background-color: #000; /* Changed background to black */
    gap: 20px;
}
 
#no {
    height: 36px;
    width: 80px;
    font-size: 16px;
    color: #fff; /* Changed text color to white */
    border: 1px solid #2b0cf2bf; /* Adjusted blue border */
    border-radius: 4px;
    background-color: #474747;
}
 
#no:focus {
    outline: none;
}
 
.css-2b097c-container {
    width: 120px;
    color: #000; /* Changed text color to black */
    background-color: #474747;
}
 
.css-yk16xz-control {
    background-color: #000 !important; /* Changed background to black */
    border-color: #2b0cf2bf !important; /* Adjusted blue border */
}

